$pro-purple:#AB47BC;
$pro-blue:#2273DB;
$pro-red:#CC3020;
$pro-green:#22A885;
$pro-yellow:#FFBD59;

.green {
    font-weight: bold;
    color: $pro-green;
}

.yellow {
    font-weight: bold;
    color: $pro-yellow;
}

.red {
    font-weight: bold;
    color: $pro-red;
}

$menu-width: 240px;

body {
    margin: auto;
    padding: 0;
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    tr {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        transition: background-color .3s;

        &:hover {
            background-color: #f5f5f5;
            transition: background-color .3s;
        }
    }

    td {
        padding: 1.2rem;
    }

    th {
        background-color: #fafafa;
        padding: 1.2rem;
        border-bottom: 2px solid $pro-purple;
        cursor: pointer;
    }
}

label{
    font-weight: bold;
    display: block;
    margin-bottom: .3rem;
}

select{
    width: 100%;
    height: 2.3rem;
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding: .2rem 0;
    color: #555;
}

input {
    height: 1.8rem;
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding: .2rem;
    color: #555;
}

.search-input{
    width: 100%;
    margin-top: 25px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px;
    width: 40%;
    height: 2em;
    font-size: 1.4em;
    font-weight: bold;
    transition: ease-in 0.2s;

    &:focus {
        border: none !important;
        outline: none !important;
        transition: ease-in 0.2s;
        width: 70%;
        color: $pro-purple;
        background-color: rgba(250, 250, 250, 0.6);
        box-shadow: 0 5px 4px -6px #111;
    }
}