<template>
    <div v-if="isTimeLineBuild">
        <apexchart
            type="area"
            width="100%"
            height="200%"
            :options="options"
            :series="series"
        >
        </apexchart>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { IInventoryTimeLine } from '@/types/GraphTypes'
import { Sync, Get } from 'vuex-pathify'
import VueApexCharts from 'vue-apexcharts'

Vue.component('apexchart', VueApexCharts)

@Component({
    name: 'InventoryChart',
    components: { }    
})
export default class InventoryChart extends Vue {

    @Sync("snapshotTimeLine")
    snapshotTimeLine?: IInventoryTimeLine;

    @Get("isTimeLineBuild")
    isTimeLineBuild?: boolean;

    get options() {
        return {
            dataLabels: { enabled: false },
            fill: {
                type: 'gradient'
            },
            stroke: {
                curve: 'smooth'
            },
            xaxis: {
                categories: this.snapshotTimeLine?.timeline,
                type: 'datetime'
            }
        }
    }

    get series() {
        return this.snapshotTimeLine?.productInventorySnapshots
            .map(snapshot => ({
                name: snapshot.productId,
                data: snapshot.quantityOnHand
            }));
    }

    async created() {
        await this.$store.dispatch("assignSnapshots");
    }
}
</script>

<style scoped lang="scss">
    @import '@/scss/global.scss';

</style>