<template>
    <div>
        <apexchart
            type="line"
            width="100%"
            height="250%"
            :options="options"
            :series="[{
              name: series[0],
              data: prices
          }]"
        >
        </apexchart>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import VueApexCharts from 'vue-apexcharts'
import { ISales } from '@/types/Sales'

Vue.component('apexchart', VueApexCharts)

@Component({
    name: 'PurchasesChart',
    components: { }    
})
export default class PurchasesChart extends Vue {
        @Prop({required:true, type: Array as () => ISales[]})
        purchases!: ISales[];

    get options() {
        var timeline = this.purchases.map(x => x.createdOn);

        return {
            dataLabels: { 
                enabled: false 
            },
            fill: {
                type: 'gradient'
            },
            stroke: {
                width: 7,
                curve: 'straight'
            },
            markers: {
              size: 5,
              colors: ["#AB47BC"],
              strokeColors: "#fff",
              strokeWidth: 2,
              hover: {
                size: 7,
              }
            },
            xaxis: {
                categories: timeline,
                type: 'datetime',
                labels: {
                formatter: function(value, timestamp, opts) {
                  return opts.dateFormatter(new Date(timestamp), 'h:mm:ss, dd MMM')
                }
              }
            },
            title: {
              text: 'График времени поставок',
              align: 'left',
              style: {
                fontSize: "14px",
                color: '#565656'
              }
            }
        }
    }

    get series() {
        return this.purchases.map(p => p.supplier.name);
    }

    get prices() {
        return this.purchases
            .map(p => p.purchaseItems.reduce(
        (x, y) => x + y['product']['price'] * y['quantity'],
        0));
    }
}
</script>

<style scoped lang="scss">
    @import '@/scss/global.scss';

</style>