<template>
    <div v-if="suppliers.length">
        <apexchart
            type="donut"
            width="35%"
            height="250%"
            :series="series"
            :options="chartOptions"
        >
        </apexchart>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import VueApexCharts from 'vue-apexcharts'
import { ISupplier, ISupplierOptions } from '@/types/Supplier'
import { SupplierService } from '@/services/supplier-service'

Vue.component('apexchart', VueApexCharts)

const supplierService = new SupplierService();

@Component({
    name: 'SuppliersChart',
    components: { }    
})
export default class SuppliersChart extends Vue {
    suppliers: ISupplier[] = [];
    options:ISupplierOptions = {
        labels: []
    };

    get chartOptions() {
        var result = ({
            series: this.suppliers.map(s => s.rating),
            labels: this.options.labels = this.suppliers.map(s => s.name)
        })
        return result;
    }

    get series() {
        return this.suppliers.map(s => s.rating)

    }

    async created() {
        await this.fetchData();
    }

    async fetchData() {
        this.suppliers = await supplierService.getSuppliers();
    }
}
</script>

<style scoped lang="scss">
    @import '@/scss/global.scss';

</style>