<template>
    <div class="btn-link">
        <button 
            @click="onClick" 
            :disabled="disabled"
            :class="['pro-button', {
                'full-width': isFullWidth}]"
            type="button"
        >
            <slot></slot>
        </button>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'
    import Component from 'vue-class-component'
    import { Prop } from 'vue-property-decorator'

    @Component({
        name: 'ProButton',
        components: { }    
    })
    export default class ProButton extends Vue {
        @Prop({required: false, type: Boolean, default: false})
        isFullWidth?: boolean;
        @Prop({required: false, type: Boolean, default: false})
        disabled?: boolean;

        onClick() {
            this.$emit('button:click')
        }
    }
</script>

<style scoped lang="scss">
    @import '@/scss/global.scss';

    .full-width {
        display: block;
        width: 100%;
    }

    .pro-button {
        background: lighten($pro-purple, 10%);
        color: white;
        padding: .8rem;
        margin: .4rem .8rem 0 0;
        transition: background-color .5s;
        display: inline-block;
        cursor: pointer;
        font-size: 1.2rem;
        min-width: 100px;
        border: none;
        border-bottom: 2px solid darken($pro-purple, 20%);
        border-radius: 3px;

        &:hover {
            background: lighten($pro-purple, 20%);
            transition: background-color .5s;
        }

        &:disabled {
            cursor: default;
            color: darken(#eee, 10%);
            background: lighten($pro-purple, 15%);
            border-bottom: 2px solid lighten($pro-purple, 20%);
        }

        &:active {
            background: $pro-yellow;
            border-bottom: 2px solid lighten($pro-yellow, 20%);
        }
    }
</style>
