<template>
    <div class="side-menu-container">
        <router-link to="/">
            <img id="imgLogo" src="../assets/images/main-logo.png" alt="Site logo">
        </router-link>
        <h1>Система управления закупками для малого бизнеса</h1>
        <pro-button 
            id="menuProducts"
            is-full-width
            @button:click="goToRoute('/products')"
        >
            Товары
        </pro-button>
        <pro-button 
            id="menuSuppliers"
            is-full-width
            @button:click="goToRoute('/suppliers')"
        >
            Поставщики
        </pro-button>
        <pro-button 
            id="menuInvoice"
            is-full-width
            @button:click="goToRoute('/invoice/new')"
        >
            Сделать закупку
        </pro-button>
        <pro-button 
            id="menuPurchases"
            is-full-width
            @button:click="goToRoute('/purchases')"
        >
            Отчетность поставок
        </pro-button>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import ProButton from '@/components/ProButton.vue'

    @Component({
        name: 'SideMenu',
        components: { ProButton }
    })
    export default class SideMenu extends Vue { 
        goToRoute(route: string) {
            this.$router.push(route);
        }
    }
</script>

<style scoped lang="scss">
    @import "@/scss/global.scss";

    .side-menu-container {
        background-color: #f3eeee;
        height: 100vh;
        width: $menu-width;
        display: flex;
        flex-direction: column;
        padding: .8rem;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                    0, 1px, 1px rgba(0,0,0,0.24);
        box-sizing: border-box;
    }

    #imgLogo {
        margin-top: 30px;
        width: 100%
    }

    h1 {
        font-size: 1.2rem;
        margin: 1rem 0;;
    }
</style>
