<template>
    <pro-modal>
        <template v-slot:header>
            <div>
                Добавить товар 
            </div>
        </template>
        <template v-slot:body>
            <ul class="newProduct">
                <li>
                    <label for="productName">Название</label>
                    <input type="text" id="productName" v-model="newProduct.name">
                </li>
                <li>
                    <label for="productType">Тип</label>
                    <input type="text" id="productType" v-model="newProduct.type">
                </li>
                <li>
                    <label for="productPrice">Цена</label>
                    <input type="number" id="productPrice" v-model="newProduct.price">
                </li>
                <li>
                    <label for="productSupplier">Поставщик</label>
                    <select v-model="selectedSupplier" class="productSupplier" id="productSupplier">
                        <option disabled value="">Выберите поставщика:</option>
                        <option v-for="sup in suppliers" :value="sup" :key="sup.id">
                            {{ sup.name }}
                        </option>
                    </select>
                </li>
            </ul>
        </template>
        <template v-slot:footer>
            <pro-button
                type="button"
                @button:click="save"
                aria-label="добавить товар"
            >
                Добавить
            </pro-button>
            <pro-button
                type="button"
                @button:click="close"
                aria-label="закрыть"
            >
                Закрыть
            </pro-button>
        </template>
    </pro-modal>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator'
    import ProButton from '@/components/ProButton.vue'
    import ProModal from '@/components/modals/ProModal.vue'
    import { IProduct } from '@/types/Product'
    import { ISupplier } from '@/types/Supplier'
    
    @Component({
        name: 'NewProductModal',
        components: { ProButton, ProModal }
    })
    export default class NewProductModal extends Vue { 
        @Prop({required:true, type:Array as () => ISupplier[]})
        suppliers!: ISupplier[];

        newProduct: IProduct = {
            id: 0,
            name: "",
            type: "",
            price: 0,
            supplier: {
                id: 0,
                name: ""
            }
        };

        selectedSupplier: ISupplier = {
            id: 0,
            name: "",
            createdOn: new Date,
            updatedOn: new Date,
            description: "",
            type: "",
            rating: 0,
            supplierAddress: {
                id: 0,
                createdOn: new Date,
                updatedOn: new Date,
                country: "",
                city: "",
                addressLine: "",
                postalCode: ""                
            } 

        };

        close() {
            console.log(this.suppliers);
            this.$emit('close');
        }

        save() {
            this.newProduct.supplier = this.selectedSupplier;
            this.$emit('save:product', this.newProduct)
        }
    }
</script>

<style scoped lang="scss">
    @import '@/scss/global.scss';

    .newProduct {
        list-style: none;
        padding: 0;
        margin: 0;

        input {
            width: 100%;
            height: 1.8rem;
            margin-bottom: 1.2rem;
            font-size: 1.1rem;
            line-height: 1.3rem;
            padding: .2rem;
            color: #555;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: .3rem;
        }
    }
</style>