<template>
    <pro-modal>
        <template v-slot:header>
            Добавить поставщика
        </template>
        <template v-slot:body>
            <ul class="newSupplier">
                <li>
                    <label for="name">Название</label>
                    <input type="text" id="name" v-model="supplier.name"/>
                </li>          
                <li>
                    <label for="description">Описание</label>
                    <input type="text" id="description" v-model="supplier.description"/>
                </li>
                <li>
                    <label for="type">Тип товаров</label>
                    <input type="text" id="type" v-model="supplier.type"/>
                </li>
                <li>
                    <label for="rating">Рейтинг</label>
                    <input type="number" id="rating" v-model="supplier.rating"/>
                </li>
                <li>
                    <label for="country">Страна</label>
                    <input type="text" id="country" v-model="supplier.supplierAddress.country"/>
                </li>
                <li>
                    <label for="city">Город</label>
                    <input type="text" id="city" v-model="supplier.supplierAddress.city"/>
                </li>
                <li>
                    <label for="addressLine">Адрес</label>
                    <input type="text" id="addressLine" v-model="supplier.supplierAddress.addressLine"/>
                </li>
                <li>
                    <label for="postalCode">Почтовый индекс</label>
                    <input type="text" id="postalCode" v-model="supplier.supplierAddress.postalCode"/>
                </li>
            </ul>
        </template>
        <template v-slot:footer>
            <pro-button
                type="button"
                @button:click="save"
                aria-label="save new supplier"
            >
                Сохранить
            </pro-button>
            <pro-button
                type="button"
                @button:click="close"
                aria-label="close modal"
            >
                Закрыть
            </pro-button>
        </template>
    </pro-modal>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import ProButton from '@/components/ProButton.vue'
    import ProModal from '@/components/modals/ProModal.vue'
    import { ISupplier } from '@/types/Supplier'
    
    @Component({
        name: 'NewSupplierModal',
        components: { ProButton, ProModal }
    })
    export default class NewSupplierModal extends Vue { 
        supplier: ISupplier = {
            supplierAddress: {
                id: 0,
                createdOn: new Date(),
                updatedOn: new Date(),
                country: "",
                city: "",
                addressLine: "",
                postalCode: ""
            },
            id: 0,
            createdOn: new Date(),
            updatedOn: new Date(),
            name: "",
            description: "",
            type: "",
            rating: 0
        };

        close() {
            this.$emit('close');
        }

        save() {
            this.$emit('save:supplier', this.supplier)
        }
    }
</script>

<style scoped lang="scss">
    @import '@/scss/global.scss';

    .newSupplier {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;

        input {
            width: 80%;
            height: 1.8rem;
            margin: .8rem;
            margin-right: 2rem;
            font-size: 1.1rem;
            line-height: 1.3rem;
            padding: .2rem;
            color: #555;
        }

        label {
            font-weight: bold;
            margin: .8rem;
            display: block;
        }
    }
</style>