<template>
    <pro-modal>
        <template v-slot:header>
            Оформить поставку товаров
        </template>
        <template v-slot:body>
            <label for="product">Товар</label>
            <select v-model="selectedProduct" class="shipmentItems" id="product">
                <option disabled value="">Выберите товар:</option>
                <option v-for="item in inventory" :value="item.product" :key="item.product.id">
                    {{ item.product.name }}
                </option>
            </select>
            <label for="amount">Количество:</label>
            <input type="number" id="amount" v-model="amount">
        </template>
        <template v-slot:footer>
            <pro-button 
                type="button"
                @button:click="save"
                aria-label="завершить поставку"    
            >
                Оформить
            </pro-button>
            <pro-button 
                type="button"
                @button:click="close"
                aria-label="Закрыть"    
            >
                Закрыть
            </pro-button>
        </template>
    </pro-modal>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator'
    import ProButton from '@/components/ProButton.vue'
    import ProModal from '@/components/modals/ProModal.vue'
    import { IProduct, IProductInventory } from '@/types/Product'
    import { IShipment } from '@/types/Shipment'

    @Component({
        name: 'ShipmentModal',
        components: { ProButton, ProModal }
    })
    export default class ShipmentModal extends Vue { 
        @Prop({required:true, type: Array as () => IProductInventory[]})
        inventory!: IProductInventory[];

        selectedProduct: IProduct = {
            id: 0,
            name: "",
            type: "",
            price: 0,
            supplier: {
                id: 0,
                name: ""
            }
        };
        amount = 0;

        close() {
            this.$emit('close');
        }

        save() {
            let shipment: IShipment = {
                productId: this.selectedProduct.id,
                amount: this.amount
            };

            this.$emit('save:shipment', shipment)
        }
    }
</script>

<style scoped>

</style>