<template>
    <pro-modal>
        <template v-slot:header>
            Список товаров поставщика
        </template>
        <template v-slot:body>
            <table class="table">
                <tr>
                    <th>Товар</th>
                    <th>Тип</th>
                    <th>Цена</th>
                </tr>
                <tr 
                    v-for="item in supplierProducts"
                    :key="item.product.id"
                >
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.type }}</td>
                    <td>{{ item.product.price | price }}</td>
                </tr>
            </table>
        </template>
        <template v-slot:footer>
            <pro-button
                type="button"
                @button:click="close"
                aria-label="close modal"
            >
                Закрыть
            </pro-button>
        </template>
    </pro-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import ProButton from '@/components/ProButton.vue'
import ProModal from '@/components/modals/ProModal.vue'
import {  IProductInventory } from '@/types/Product'

@Component({
    name: 'SupplierDetailModal',
    components: { ProButton, ProModal }
})
export default class SupplierDetailModal extends Vue {
    @Prop({required:true, type:Array as () => IProductInventory[]})
    supplierProducts!: IProductInventory[];

    close() {
        this.$emit('close');
    }
}
</script>

<style scoped lang="scss">
    @import '@/scss/global.scss';

    .table {
        width: 100%;
        margin: 0;
    }
</style>