<template>
    <div>
        <h1 id="invoiceTitle">
            Оформить счет на оплату
        </h1>
        <hr/>
        <!-- 1 step -->
        <div class="invoice-step" v-if="invoiceStep === 1">
            <h2>Шаг 1: Выберите поставщика</h2>
            <div v-if="suppliers.length" class="invoice-step-detail">
                <label for="supplier">Поставщик:</label>
                <select v-model="selectedSupplierId"
                    class="invoice-supplier" id="supplier">
                    <option disabled value="">
                        Выберите нужного поставщика...
                    </option>
                    <option v-for="sup in suppliers" :value="sup.id" :key="sup.id">
                        {{ sup.name }}
                    </option>
                </select>
            </div>
        </div>
        <!-- 2 step -->
        <div class="invoice-step" v-if="invoiceStep === 2">
            <h2>Шаг 2: Выберайте товары:</h2>
            <div v-if="inventory.length" class="invoice-step-detail">
                <label for="product">Товар:</label>
                <select v-model="newItem.product"
                class="invoiceLineItem" id="product">
                    <option disabled value="">Выберите нужный товар...</option>
                    <option 
                    v-for="inv in productsBySupplierId" 
                    :value="inv.product" 
                    :key="inv.product.id">
                        {{ inv.product.name }}
                    </option>
                </select>
                <label for="quantity">Количество:</label>
                <input v-model="newItem.quantity" id="quantity" type="number" min=0 />
            </div>
            <div class="invoice-item-actions">
                <pro-button 
                    :disabled="!newItem.product || !newItem.quantity" 
                    @button:click="addLineItem">
                        Добавить товар в список
                </pro-button>
                <pro-button 
                    :disabled="!purchaseItems.length" @button:click="finalizePurchase">
                        Завершить закупку
                </pro-button>
            </div>
            <div v-if="purchaseItems.length" class="invoice-order-list">
                <div class="total-cost">
                    <h3>Общая стоимость:</h3>
                    {{ totalCost | price }}
                </div>
                <hr/>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Тип товара</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Общая цена</th>
                        </tr>
                    </thead>
                    <tr v-for="item in purchaseItems" :key="item.product.id">
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.type }}</td>
                        <td>{{ item.product.price | price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity | price }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- 3 step -->
        <div class="invoice-step" v-if="invoiceStep === 3">
            <h2>Шаг 3: Предпросмотр списка на оплату:</h2>
            <div class="invoice-steps-actions">
                <pro-button @button:click="submitInvoice">
                    Завершить закупку
                </pro-button>
                <pro-button @button:click="printPdf">
                    <i class="far fa-file-pdf" id="print-pdf"></i>
                </pro-button>
            </div>
            <hr/>
            <div class="invoice-step-detail" id="invoice" ref="invoice">
                <div class="invoice-logo">
                    <img src="../assets/images/main-logo.png" alt="Site Main Logo" id="imgLogo">
                    <h3>Главный офис:</h3>
                    <h3>Ул.Лавочкина, д.123/1</h3>
                    <h3>Россия, г.Краснодар</h3>
                    <h3>ПИ 350059</h3>
                    <div class="invoice-order-list" v-if="purchaseItems.length">
                        <div class="invoice-header">
                            <h1>Счет на оплату от 
                                {{ new Date() | humanizeDate }} г.
                            </h1>
                            <hr/>
                            <h3>Поставщик:
                                {{ this.selectedSupplier.name + ", г. " + this.selectedSupplier.supplierAddress.city + ", " + this.selectedSupplier.supplierAddress.addressLine
                                + " | " +  this.selectedSupplier.supplierAddress.postalCode
                                }}
                            </h3>
                            <br/>
                            <p>
                                Основание: <b>Договор купли-продажи</b>
                            </p>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Товары</th>
                                    <th>Тип товаров</th>
                                    <th>Цена (за ед.)</th>
                                    <th>Количество</th>
                                    <th>Общая цена</th>
                                </tr>
                            </thead>
                            <tr v-for="item in purchaseItems" :key="item.product.id">
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.product.type }}</td>
                                <td>{{ item.product.price | price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.product.price * item.quantity | price }}</td>
                            </tr>
                        </table>
                        <div class="price-final">
                            <h2>Итого: 
                                {{ totalCost | price }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- actions -->
        <div class="invoice-steps-actions">
            <pro-button @button:click="prev" :disabled="!canGoPrev">Предыдущий шаг</pro-button>
            <pro-button @button:click="next" :disabled="!canGoNext">Следующий шаг</pro-button>
            <pro-button @button:click="startOver">Начать занаво</pro-button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProButton from '@/components/ProButton.vue'
import ProModal from '@/components/modals/ProModal.vue'
import { IPurchase, IPurchaseItem } from '@/types/Purchase'
import { ISupplier } from '@/types/Supplier'
import { IProductInventory } from '@/types/Product'
import { SupplierService } from '@/services/supplier-service'
import { InventoryService } from '@/services/inventory-service'
import { PurchaseService } from '@/services/purchase-service'
import jsPDF from 'jspdf'
import html2canvas from 'html2canvas'

const supplierService = new SupplierService();
const inventoryService = new InventoryService();
const purchaseService = new PurchaseService();

@Component({
    name: 'CreateInvoice',
    components: { ProButton, ProModal }
})
export default class CreateInvoice extends Vue {
    invoiceStep = 1;
    purchase: IPurchase = {
        createdOn: new Date(),
        updatedOn: new Date(),
        purchaseItems: [],
        supplierId: 0
    }
    selectedSupplierId = 0;
    suppliers: ISupplier[] = [];
    inventory: IProductInventory[] = [];
    purchaseItems: IPurchaseItem[] = [];
    newItem: IPurchaseItem = {product: undefined, quantity: 0}

    get productsBySupplierId() {
        return this.inventory.filter(inv => inv.product.supplier.id == this.selectedSupplierId);
    }

    get canGoPrev() { 
        return this.invoiceStep !== 1;
    }

    get canGoNext() {
        if (this.invoiceStep === 1) {
            return this.selectedSupplierId !== 0;
        }
        if (this.invoiceStep === 2) {
            return this.purchaseItems.length;
        }
        if (this.invoiceStep === 3) {
            return false;
        }
        return false;
    } 

    startOver(): void { 
        // this.purchase = { supplierId: 0, purchaseItems: [] };
        this.purchaseItems = [];
        this.newItem.quantity = 0;
        this.invoiceStep = 1;
    }

    get totalCost() {
        return this.purchaseItems
            .reduce((x, y) => x + (y['product']['price'] * y['quantity']), 0);
    }

    get selectedSupplier() {
        return this.suppliers.find(s => s.id == this.selectedSupplierId);
    }

    async submitInvoice(): Promise<void> {
        this.purchase = {
            supplierId: this.selectedSupplierId,
            purchaseItems: this.purchaseItems
        }
        await purchaseService.makeNewPurchase(this.purchase);
        await this.$router.push("/purchases");
    }

    printPdf() {
        this.downloadPdf();
    }

    downloadPdf() {
        let pdf = new jsPDF('p', 'pt', 'a5', true);
        let invoice = document.getElementById('invoice');
        let width = this.$refs.invoice.clientWidth;
        let height = this.$refs.invoice.clientHeight;

        html2canvas(invoice).then(canvas => {
            let image = canvas.toDataURL("image/png");
            pdf.addImage(image, "PNG", 40, 0, width * 0.55, height * 0.55);
            pdf.save("invoice");
        });
    }

    addLineItem() {
        let newItem: IPurchaseItem = {
            product: this.newItem.product,
            quantity: Number(this.newItem.quantity)
        }

        let existingitems = this.purchaseItems
            .map(item => item.product.id);
        
        if (existingitems.includes(newItem.product.id)) {
            let lineItem = this.purchaseItems
                .find(item => item.product.id === newItem.product.id);

            let currentQuantity = Number(lineItem?.quantity);
            let updatedQuantity = currentQuantity += newItem.quantity;
            lineItem.quantity = updatedQuantity;
        } 
        else {
            this.purchaseItems.push(this.newItem);
        }

        this.newItem = { product: undefined, quantity: 0 };
    }

    finalizePurchase() {
        this.invoiceStep = 3;
    }

    prev(): void {
        if (this.invoiceStep === 1) {
            return;
        }
        this.invoiceStep -= 1;
    }

    next(): void {
        if (this.invoiceStep === 3) {
            return;
        }
        this.invoiceStep += 1;
    }

    async created() {
        await this.fetchData();
    }

    async fetchData(): Promise<void> {
        this.suppliers = await supplierService.getSuppliers();
        this.inventory = await inventoryService.getProducts();
    }
}
</script>

<style scoped lang="scss">
    @import "@/scss/global.scss";

    .invoice-steps-actions {
    display: flex;
    width: 100%;
    }

    .invoice-step-detail {
        margin: 1.2rem;
    }

    .invoice-order-list {
        margin-top: 1.2rem;
        padding: 0.8rem;

        .line-item {
            display: flex;
            border-bottom: 1px dashed #ccc;
            padding: 0.8rem;
        }

        .item-col {
            flex-grow: 1;
        }
    }

    .invoice-item-actions {
        display: flex;
    }

    .price-pre-tax {
        font-weight: bold;
    }

    .price-final {
        justify-content: right;
        text-align: right;
        padding: .4rem;
    }

    .due {
        font-weight: bold;
    }

    .invoice-header {
        width: 100%;
        margin-bottom: 1.2rem;
        text-align: left;
    }

    .invoice-logo {
        padding-top: 1.4rem;
        text-align: center;

        img {
            width: 280px;
        }
    }

    #print-pdf {
        font-size: 1.3rem;
    }
</style>