<template>
    <div class="products-container">
        <h1 id="products-title">
            Список товаров от наших поставщиков
        </h1>
        <hr/>  
        <inventory-chart 
        />
        <div class="products-actions">
            <pro-button @button:click="showNewProductModal"
                    id="addNewNtm">
                Добавить товар
            </pro-button>
            <pro-button @button:click="showShipmentModal"
                    id="receiveShipmentBtn">
                Оформить поставку товаров
            </pro-button>
        </div>
        <div class="search-section">
            <input class="search-input" type="text" placeholder="Поиск по товару..."
                v-model="searchQuery"
            >
        </div>
        <table id="purchasesTable" class="table">
            <tr>
                <th>Id товара</th>
                <th
                    @click="sortBy('name')"
                >
                    Товар
                </th>
                <th
                    @click="sortBy('type')"
                >
                    Тип изделия
                </th>
                <th
                    @click="sortBy('price')"
                >
                    Цена
                </th>
                <th
                    @click="sortBy('amount')"
                >
                    Доступно в продаже
                </th>
                <th
                    @click="sortBy('supplier')"
                >
                    Поставщик
                </th>
                <th>Убрать</th>
            </tr>
            <tr v-for="item in paginatedItems" :key="item.id">
                                <td>
                    {{ item.product.id}}
                </td>
                <td>
                    {{ item.product.name}}
                </td>
                 <td>
                    {{ item.product.type }}
                </td>
                <td>
                    {{ item.product.price | price }}
                </td>
                 <td v-bind:class="`${applyColor(item.quantityOnHand)}`">
                    {{ item.quantityOnHand }}
                </td>
                <td>
                    {{ item.product.supplier.name }}
                </td>
                <td>
                    <div class="fas fa-times-circle product-archive"
                    @click="archiveProduct(item.product.id)">
                    </div>
                </td>
            </tr>
        </table>
        <div class="pagination">
            <div class="page"
                v-for="page in pages"
                :key="page"
                @click="selectPage(page)"
            >
                {{ page }}
            </div>
        </div>
        <new-product-modal 
            v-if="isNewProductVisible"
            :suppliers="suppliers"  
            @save:product="saveNewProduct"
            @close="closeModals"
        />
        <shipment-modal 
            v-if="isShipmentVisible" 
            :inventory="inventory"
            @save:shipment="saveNewShipment"
            @close="closeModals"
        />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import { IProduct, IProductInventory } from '@/types/Product'
import { IShipment } from "@/types/Shipment"
import { ISupplier } from "@/types/Supplier"
import { ProductService } from "@/services/product-service"
import { InventoryService } from "@/services/inventory-service"
import { SupplierService } from "@/services/supplier-service"
import ProButton from '@/components/ProButton.vue'
import ProModal from '@/components/modals/ProModal.vue'
import NewProductModal from '@/components/modals/NewProductModal.vue'
import ShipmentModal from '@/components/modals/ShipmentModal.vue'
import InventoryChart from '@/components/charts/InventoryChart.vue'

const productService = new ProductService();
const supplierService = new SupplierService();
const inventoryService = new InventoryService();

@Component({
    name: 'Products',
    components: { ProButton, ProModal, NewProductModal, ShipmentModal, InventoryChart }
})
export default class Products extends Vue {
    isNewProductVisible = false;
    isShipmentVisible = false;

    inventory: IProductInventory[] = [];
    suppliers: ISupplier[] = [];
    searchQuery = "";
    itemsPerPage = 8;
    pageNumber = 1;

    get pages() {
        return Math.ceil(this.inventory.length / 8);
    }

    get paginatedItems() {
        let from = (this.pageNumber - 1) * this.itemsPerPage;
        let to = from + this.itemsPerPage;
        return this.resultQuery.slice(from, to);
    }

    get resultQuery() {
        if (this.searchQuery) {
            return this.inventory.filter((item) => {
                return this.searchQuery.toLowerCase()
                .split(' ').every(v => item.product.name.toLowerCase()
                .includes(v))
            })
        } else {
            return this.inventory;
        }
    }

    selectPage(page: number) {
        this.pageNumber = page;
    }

    applyColor(current: number) {
        if(current <= 0) {
            return "red";
        } if (current <= 15) {
            return "yellow";
        }
        return "green";
    }

    sortBy(query: string) {
        switch (query) {
            case 'name':
                this.inventory.sort((x,y) => x.product.name.localeCompare(y.product.name));        
                break;
            case 'type':
                this.inventory.sort((x,y) => x.product.type.localeCompare(y.product.type));
                break;            
            case 'price':
                  this.inventory.sort((x,y) => x.product.price - y.product.price).reverse();
                break;
            case 'amount':
                this.inventory.sort((x,y) => x.quantityOnHand - y.quantityOnHand).reverse();
                break;
            case 'supplier':
                this.inventory.sort((x,y) => x.product.supplier.name.localeCompare(y.product.supplier.name));
                break;
            default:
                break;
        }
    }

    async archiveProduct(productId: number) {
        await productService.archive(productId);
        await this.fetchData();
    }

    closeModals() {
        this.isShipmentVisible = false;
        this.isNewProductVisible = false;
    }

    showNewProductModal() {
        this.isNewProductVisible = true;
    }

    showShipmentModal() {
        this.isShipmentVisible = true;
    }

    async saveNewProduct(newProduct: IProduct) { 
        await productService.save(newProduct);
        this.isNewProductVisible = false;
        return this.fetchData();
    }

    async saveNewShipment(shipment: IShipment) { 
        await inventoryService.updateInventoryQuantity(shipment);
        this.isShipmentVisible = false;
        await this.fetchData();
    }

    async fetchData() {
        this.inventory = await inventoryService.getProducts();
        this.suppliers = await supplierService.getSuppliers();
        await this.$store.dispatch("assignSnapshots");
    }

    async created() {
        await this.fetchData();
    }
}
</script>

<style scoped lang="scss">
    @import "@/scss/global.scss";

    .products-actions {
        display: flex;
        margin-bottom: .8rem;
    }

    .product-archive {
        cursor: pointer;
        font-weight: bold;
        font-size: 1.6rem;
        color: $pro-red;
    }

    .pagination {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        justify-content: center;
    }

    .page {
        padding: 10px;
        margin-right: 14px;
        font-size: 1.2rem;
        border: 1px solid #e7e7e7;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background: #aeaeae;
        }
    }
</style>
