<template>
    <div class="purchases-container">
        <h1 id="purchases-title">
            Отчетность поставок
        </h1>
        <hr/>
        <div class="chart">
            <purchases-chart 
             :purchases="purchases"
            />
        </div>
        <table class="table" id="purchases" v-if="purchases.length">
            <thead>
                <tr>
                    <th>Id закупки</th>
                    <th>Поставщик</th>
                    <th>Сумма заказа</th>
                    <th>Время поставки</th>
                    <th>Статус</th>
                    <th>Отметить</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="pur in purchases" :key="pur.id">
                    <td>{{ pur.id }}</td>
                    <td>{{ pur.supplier.name }}</td>
                    <td>{{ getTotal(pur) | price }}</td>
                    <td>{{ pur.createdOn | humanizeDate }}</td>
                    <td :class="{green: pur.isPaid}">
                        {{ getStatus(pur.isPaid) }}
                    </td>
                    <td>
                        <div
                            v-if="!pur.isPaid"
                            class="far fa-check-circle purchase-complete"
                            @click="markComplete(pur.id)"
                        >
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProButton from '@/components/ProButton.vue'
import ProModal from '@/components/modals/ProModal.vue'
import { PurchaseService } from '@/services/purchase-service'
import { ISales } from '@/types/Sales'
import PurchasesChart from '@/components/charts/PurchasesChart.vue'

const purchaseService = new PurchaseService();

@Component({
    name: 'Purchases',
    components: { ProButton, ProModal, PurchasesChart }
})
export default class Purchases extends Vue {
    purchases: ISales[] = [];

    getTotal(purchase: ISales) {
        return purchase.purchaseItems.reduce(
        (x, y) => x + y['product']['price'] * y['quantity'],
        0);
    }

    getStatus(isPaid: boolean) {
        return isPaid ? "Оплачено" : "Неоплачено";
    }

    async markComplete(purchaseId: number) {
        await purchaseService.markPurchaseComplete(purchaseId);
        this.fetchData();
    }

    async created() {
        await this.fetchData();
    }

    async fetchData(): Promise<void> {
        this.purchases = await purchaseService.getPurchases();
    }
}
</script>

<style scoped lang="scss">
    @import "@/scss/global.scss";

    .green {
        font-weight: bold;
        color: $pro-green;
    }

    .red {
        font-weight: bold;
        color: $pro-red;
    }

    .purchase-complete {
        cursor: pointer;
        text-align: center;
        font-size: 1.2rem;

        &:hover {
            color: $pro-green;
        }
    }

    .chart {
        margin-bottom: 40px;
    }
</style>
