<template>
    <div>
        <h1 id="supplierTitle">
            Рейтинг поставщиков
        </h1>
        <hr/>
        <div class="chart">
            <suppliers-chart/>
        </div>
        <div class="supplier-actions">
            <pro-button @button:click="showNewSupplierModal">
                +
            </pro-button>
        </div>
        <div class="search-section">
            <input class="search-input" type="text" placeholder="Поиск поставщика..."
                v-model="searchQuery"
            >
        </div>
        <table id="suppliers" class="table">
            <tr>
                <th
                    @click="sortBy('name')"
                >
                    Поставщик
                </th>
                <th
                    @click="sortBy('type')"
                >
                    Тип поставляемых товаров
                </th>
                <th
                    @click="sortBy('address')"
                >
                    Адрес
                </th>
                <th
                    @click="sortBy('rating')"
                >
                    Рейтинг
                </th>
                <th>
                    Удалить
                </th>
            </tr>
            <tr 
                v-for="supplier in resultQuery" 
                :key="supplier.id"
            >
                <td
                @click="showSupplierDetailModal(supplier.id)"
                >
                    {{ supplier.name }}
                </td>
                <td>
                    {{ supplier.type }}
                </td>
                <td>
                    {{ supplier.supplierAddress.country + ", г." 
                    + supplier.supplierAddress.city + ", "
                    + supplier.supplierAddress.addressLine + " | "
                    + supplier.supplierAddress.postalCode
                    }}
                </td>
                <td 
                    v-bind:class="`${ratingColor(supplier.rating)}`"
                >
                    {{ supplier.rating }}
                </td>
                <td>
                    <div class="fas fa-times-circle supplier-delete"
                    @click="deleteSupplier(supplier.id)">
                    </div>
                </td>
            </tr>
        </table>
        <new-supplier-modal 
            v-if="isSupplierModalVisible"
            @save:supplier="saveNewSupplier"
            @close="closeModal"
        />
        <supplier-detail-modal
            v-if="isSupplierDetalModalVisible"
            :supplierProducts="supplierProducts"
            @close="closeModal"
        />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ProButton from '@/components/ProButton.vue'
import ProModal from '@/components/modals/ProModal.vue'
import NewSupplierModal from '@/components/modals/NewSupplierModal.vue'
import SupplierDetailModal from '@/components/modals/SupplierDetailModal.vue'
import { ISupplier } from '@/types/Supplier'
import { SupplierService } from '@/services/supplier-service'
import { IProductInventory } from '@/types/Product'
import { InventoryService } from '@/services/inventory-service'
import SuppliersChart from '@/components/charts/SuppliersChart.vue'

const supplierService = new SupplierService();
const inventoryService = new InventoryService();

@Component({
    name: 'Suppliers',
    components: { ProButton, ProModal, NewSupplierModal, 
    SupplierDetailModal, SuppliersChart }
})
export default class Suppliers extends Vue {
    isSupplierModalVisible = false;
    isSupplierDetalModalVisible = false;
    suppliers: ISupplier[] = [];
    inventory: IProductInventory[] = [];
    supplierProducts: IProductInventory[] = [];
    searchQuery = "";

    get resultQuery() {
        if (this.searchQuery) {
            return this.suppliers.filter((item) => {
                return this.searchQuery.toLowerCase()
                .split(' ').every(v => item.name.toLowerCase()
                .includes(v))
            })
        } else {
            return this.suppliers;
        }
    }

    sortBy(query: string) {
        switch (query) {
            case 'name':
                this.suppliers.sort((x,y) => x.name.localeCompare(y.name));
                break;
            case 'type':
                this.suppliers.sort((x,y) => x.type.localeCompare(y.type));
                break;            
            case 'address':
                this.suppliers.sort((x,y) => x.supplierAddress.addressLine.localeCompare(y.supplierAddress.addressLine));
                break;
            case 'rating':
                this.suppliers.sort((x,y) => x.rating - y.rating).reverse();
                break;
            default:
                break;
        }
    }

    ratingColor(rating: number) {
        if(rating <= 10) {
            return "red";
        } if (rating <= 30) {
            return "yellow";
        }
        return "green";
    }

    showNewSupplierModal() {
        this.isSupplierModalVisible = true;
    }

    showSupplierDetailModal(supplierId: number) {
        this.supplierProducts = this.inventory
            .filter(inv => inv.product.supplier.id == supplierId);
        this.isSupplierDetalModalVisible = true;
    }

    closeModal() {
        this.isSupplierModalVisible = false;
        this.isSupplierDetalModalVisible = false;
    }

    async saveNewSupplier(newSupplier: ISupplier) {
        await supplierService.addSupplier(newSupplier);
        this.isSupplierModalVisible = false;
        await this.fetchData();
    }

    async deleteSupplier(supplierId: number) {
        await supplierService.deleteSupplier(supplierId);
        await this.fetchData();
    }

    async created() {
        await this.fetchData();
    }

    async fetchData() {
        this.suppliers = await supplierService.getSuppliers();
        this.inventory = await inventoryService.getProducts();
    }
}
</script>

<style scoped lang="scss">
    @import "@/scss/global.scss";

    .supplier-actions {
        justify-content: right;
        text-align: right;
        margin-bottom: .8rem;

        div {
            margin-right: .8rem;
        }
    }

    .supplier-delete {
        cursor: pointer;
        font-weight: bold;
        font-size: 1.6rem;
        color: $pro-red;
    }


    td {
        cursor: pointer;
    }
    
</style>
